@model IEnumerable<Nomipro.ModelDB.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario.Tipo_Horario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_vinculacion.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario.Tipo_Horario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_vinculacion.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Emple }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Emple }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Emple })
        </td>
    </tr>
}

</table>
