<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link rel="stylesheet" href="~/Content/style.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--Inicio Barra de Navegación-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <!--Nomina-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Nomina
                        </a>
                        <div class="dropdown-menu">
                            <div class="text-center">
                                <a class="dropdown-item" href="~/Nomina">Consultar Nomina</a>
                                <br />
                                <a class="dropdown-item" href="~/Nomina/Create">Agregar Nomina</a>
                                <br />
                            </div>
                        </div>
                        <!--Empleados-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Empleados
                        </a>
                        <div class="dropdown-menu">
                            <div class="text-center">
                                <a class="dropdown-item" href="~/Empleados">Consultar Empleados</a>
                                <br />
                                <a class="dropdown-item" href="~/Empleados/Create">Agregar Empleados</a>
                                <br />
                            </div>
                        </div>
                    </li>
                    <!--Cargos-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Cargos
                        </a>
                        <div class="dropdown-menu">
                            <div class="text-center">
                                <a class="dropdown-item" href="~/Cargos">Consultar Cargos</a>
                                <br />
                                <a class="dropdown-item" href="~/Cargos/Create">Agregar Cargos</a>
                                <br />
                            </div>
                        </div>
                    </li>
                    <!--Control de Pagos-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Control de Pagos
                        </a>
                        <div class="dropdown-menu">
                            <div class="text-center">
                                <a class="dropdown-item" href="~/Control_Pagos">Consultar Control de Pagos</a>
                                <br />
                                <a class="dropdown-item" href="~/Control_Pagos/Create">Agregar Control de Pagos</a>
                                <br />
                                <a class="dropdown-item" href="~/HExtraxEmpleados">Consultar Horas Extras por Empleado</a>
                                <br />
                                <a class="dropdown-item" href="~/HExtraxEmpleados">Consultar Horas Extras por Empleado</a>
                                <br />
                            </div>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Parafiscales", "Index", "Parafiscales")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!--Fin Barra de Navegación-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
