@model Nomipro.ModelDB.Nomina

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nomina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Control_Pago.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Control_Pago.Mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Nomina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
