@model Nomipro.ModelDB.Horario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Trabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Trabajo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Horario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
