@model Nomipro.ModelDB.ParaxEmple

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ParaxEmple</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parafiscale.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parafiscale.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PAEM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
