@model IEnumerable<Nomipro.ModelDB.Control_Pago>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Valor_Horas_Extras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_Parafiscal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Horas_Extras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Parafiscal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Control_Pago }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Control_Pago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Control_Pago })
        </td>
    </tr>
}

</table>
